/Biblioteca/build/
/Biblioteca/nbproject/private/
/ContenedorCito/build/
/ContenedorCito/nbproject/private/
/Laboratorio/build/
/Laboratorio/nbproject/private/
/Licuadora/target/
/RelojDigital/target/
